<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.uao.gymstats">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_insights_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_insights_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gymstats"
        android:screenOrientation="sensorPortrait">

        <activity
            android:name=".EmailPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gymstats.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.statistics.BarChartActivity"/>
        <activity android:name=".MainActivity"/>

    </application>

</manifest>